#div_bg{
    background-image: url("/images/ocean7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
}
#lingrad{
    background-image: linear-gradient(135deg,rgba(100,255,0,0.50),#23297A);
}
