#div_bg{
    background-image: url('images/ocean7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 35vh;
}
.lingrad{
    background-image: linear-gradient(135deg,rgba(100,255,0,0.50),#23297A);
}
    #nadpis, #nadpis2, #nadpis3{
    margin: 0;
    padding: 0;
}

#kartaR{
    display: flex;
    align-items: center;
    justify-content: center;
}
.odstavecPrvniPismeno::first-letter{
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

.ohraniceniKarty{
    border-width: 3px;
    border-style: solid;
    border-color: dodgerblue;
}
